.card {
    background-color: rgb(60, 60, 197);
    width: 100%;
    box-sizing: border-box;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    &:first-child { margin-top: 0;}

    &:hover {
        background-color: rgb(51, 51, 168);
    }
}

.not-found-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(226, 93, 60, 0.7);
    padding: 10px 20px;
    margin-top: -18px;
    border-radius: 50px;
    box-sizing: border-box;

}