/* You can add global styles to this file, and also import other style files */
@import url('https://unpkg.com/leaflet@1.7.1/dist/leaflet.css');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Segoe UI", "Helvetica Neue", Helvetica, "Lucida Grande", Arial, Ubuntu, Cantarell, "Fira Sans", sans-serif;
    font-size: 16px;
    color: white;
    width: 100%;
    background-color: rgb(250, 250, 250);
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

input {
    font-family: "Segoe UI", "Helvetica Neue", Helvetica, "Lucida Grande", Arial, Ubuntu, Cantarell, "Fira Sans", sans-serif;
    font-size: 16px;
    color: white;

    &::placeholder {
        color: rgb(197, 197, 197);
    }
}

a {
    color: white;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.filter-grey {
    filter: invert(94%) sepia(3%) saturate(0%) hue-rotate(161deg) brightness(84%) contrast(94%);
}
.filter-white {
    filter: invert(94%) sepia(94%) saturate(26%) hue-rotate(28deg) brightness(107%) contrast(107%);
}


/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(107, 107, 107, 0.8);
    border-radius: 20px;

    &:hover {
        background: #555;
    }
}