

.titulo h1 {
    font-size: 2.5rem;
    font-weight: 600;
}


.main-temp {
    margin-top: 80px;
    display: flex;
    flex-direction: column;

    .current {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        .current-temp {
            font-size: 5rem;
            font-weight: 500;

            span {
                //font-size: 3rem;
                font-size: 5rem;
                font-weight: 500;
            }
        }

        .current-text {
            font-size: 1.5rem;
            font-weight: 600;
        }
    }
}

